.navbar {
  padding: 0 15px;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  color: $second-text-color-dark;

  &__link {
    margin-right: 15px;
    color: $second-text-color-dark;
  }

  &__link:last-child {
    margin-right: 0;
  }
}

// .active {
//   composes: navlink;
//   color: var(--theme-dark-second-text-color);
//   border-bottom: borderline;
// }

.line {
  margin-left: 10px;
  border-right: 1px solid;
  width: 1px;
  padding: 2px 0;
}

// .navbar .line {
//   border-color: var(--theme-dark-second-text-color);
// }
