.pagination-link {
  font-family: "Roboto Mono", monospace;
  padding: 10px 15px;
  border-radius: 3px;
  margin-right: 12px;

  color: #e2e2e2;

  &:hover {
    background: #090e1a;
  }

  &_disabled {
    color: #cccccda3;
    pointer-events: none;
  }

  &_active {
    background: #090e1a;
    pointer-events: none;
  }
}


