<div>
  <br />
  {{ .Content }}
  {{ if eq .Type "tags" }}
    <nav class="breadcrumbs">
      <a href="/">Home</a>
      <span class="splitter">/</span>
      <a href="/tags">Tags</a>
      <span class="splitter">/</span>
      <span>{{ .Title }}</span>
    </nav>
  {{ end }}
  <div class="page-title">
    <h1>#{{ .Title }}</h1>
  </div>
  <div class="page-grid">
    {{ if eq .Type "tags" }}
      {{ partial "side-panel" . }}
    {{ end }}
    <section>
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            <article class="post-card">
              <div class="post-card__content">
                <header class="post-card__header">
                  {{ with .Page.Params.Tags }}
                    {{ partial "taxonomy/tags.html" . }}
                  {{ end }}
                  <a class="post-card__title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
                </header>
                <section class="post-card__excerpt">
                  {{ .Summary }}
                </section>
                <footer>
                  <div class="post-card__info">
                    <time dateTime={{ .Date.Format (.Site.Params.dateFormat | default "02/01/2006" ) }}>
                      {{ .Date.Format (.Site.Params.dateFormat | default "02/01/2006" ) }}
                    </time>
                  </div>
                </footer>
              </div>
            </article>
          {{ end }}
      </div>
      {{ partial "pagination.html" . }}
    </section>
  </div>
</div>
