<div>
  <br>
  <!-- for basic page -->
  {{ if eq .Type "page" }}
    <nav class="breadcrumbs">
      <a href="/">Home</a>
      <span class="splitter">/</span>
      <span>{{ .Title }}</span>
    </nav>
  {{ end }}
  <!-- for a blog post -->
  {{ if eq .Type "blog" }}
    {{ .Scratch.Set "go_back_url" "/blog" }}
    {{ .Scratch.Set "go_back_label" "Go Back To Blog" }}
    {{ partial "go_back.html" . }}
  {{ end }}
  <!-- for a note -->
  {{ if and (eq .Type "notes") (eq .Kind "section") }}
    <nav class="breadcrumbs">
      <a href="/">Home</a>
      <span class="splitter">/</span>
      <span>{{ .Title }}</span>
    </nav>
  {{ end }}
  {{ if and (eq .Type "notes") (eq .Kind "page") }}
    {{ .Scratch.Set "go_back_url" "/notes" }}
    {{ .Scratch.Set "go_back_label" "Go Back To Notes" }}
    {{ partial "go_back.html" . }}
    <div class="page-title">
      <h1>Note</h1>
    </div>
  {{ end }}
  <article class="content">
    {{ if .Page.Params.Image }}
        <div class="content__image">
          <Img class="content__image-inner" src="{{ .Page.Params.Image }}" alt="{{ .Title }}" ></Img>
          {{ if .Page.Params.ImageCopyright }}
            <div
              style="
                font-size: 14px;
                text-align: right;
                margin-top: 10px;
                margin-right: 20px;
              "
            >
              Photo by 
              {{ if .Page.Params.ImageCopyrightUrl }}
                <a href="{{.Page.Params.ImageCopyrightUrl}}">{{ .Page.Params.ImageCopyright }}</a>
              {{ else }}
                {{ .Page.Params.ImageCopyright }}
              {{ end }}
            </div>
          {{ end }}
        </div>
    {{ end }}
    <div class="content__inner">
      <header>
        {{ if eq .Type "blog" }}
          <h1>{{ .Title }}</h1>
        {{ end }}
        {{ if and (eq .Kind "page") (or (eq .Type "blog") (eq .Type "notes")) }}
          <div class="content__info">
            <time dateTime={{ .Date.Format (.Site.Params.dateFormat | default "02/01/2006" ) }}>
              {{ .Date.Format (.Site.Params.dateFormat | default "02/01/2006" ) }}
            </time>
          </div>
        {{ end }}
        {{ with .Params.Tags }}
          {{ partial "taxonomy/tags.html" . }}
        {{ end }}
        {{ if and (eq .Kind "page") (or (eq .Type "blog") (eq .Type "notes")) }}
          <hr />
        {{ end }}
      </header>
      <section>
        {{ .Content }}
      </section>
    </div>
  </article>
</div>
