<div>
  <br>
  <!-- for basic page -->
  {{ if eq .Type "page" }}
    <nav class="breadcrumbs">
      <a href="/">Home</a>
      <span class="splitter">/</span>
      <span>{{ .Title }}</span>
    </nav>
  {{ end }}
  <!-- for a blog post -->
  {{ if eq .Type "blog" }}
    {{ .Scratch.Set "go_back_url" "/blog" }}
    {{ .Scratch.Set "go_back_label" "Go Back To Blog" }}
    {{ partial "go_back.html" . }}
  {{ end }}
  <!-- for a note -->
  {{ if and (eq .Type "notes") (eq .Kind "section") }}
    <nav class="breadcrumbs">
      <a href="/">Home</a>
      <span class="splitter">/</span>
      <span>{{ .Title }}</span>
    </nav>
  {{ end }}
  {{ if and (eq .Type "notes") (eq .Kind "page") }}
    {{ .Scratch.Set "go_back_url" "/notes" }}
    {{ .Scratch.Set "go_back_label" "Go Back To Notes" }}
    {{ partial "go_back.html" . }}
    <div class="page-title">
      <h1>Note</h1>
    </div>
  {{ end }}
  <article class="content">
    <div class="content__inner">
      <header>
        {{ if eq .Type "blog" }}
          <h1>{{ .Title }}</h1>
        {{ end }}
        {{ if and (eq .Kind "page") (or (eq .Type "blog") (eq .Type "notes")) }}
          <div class="content__info">
            <time dateTime={{ .Date.Format (.Site.Params.dateFormat | default "02/01/2006" ) }}>
              {{ .Date.Format (.Site.Params.dateFormat | default "02/01/2006" ) }}
            </time>
          </div>
        {{ end }}
        {{ with .Params.Tags }}
          {{ partial "taxonomy/tags.html" . }}
        {{ end }}
        {{ if and (eq .Kind "page") (or (eq .Type "blog") (eq .Type "notes")) }}
          <hr />
        {{ end }}
      </header>
      <section>
        {{ .Content }}
      </section>
    </div>
  </article>
</div>
