{{ if .Site.Params.Subscription }}
<div class="subscription" id="subscription">
  <header>
    <h3 class="subscription__title">
      <i aria-hidden="true" class="fa fa-envelope"></i>
      {{ .Site.Params.Subscription.title | safeHTML }}
    </h3>
  </header>
  <section class="subscription__body">
    <p>{{ .Site.Params.Subscription.description | safeHTML }}</p>
    <form action="{{ .Site.Params.Subscription.endpoint }}" method="post">
      <input
        aria-label="Your email"
        type="email"
        name="email_address"
        placeholder="Email address"
        required
      />
      <button type="submit">Subscribe_</button>
    </form>
    <div class="subscription__success-msg">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      {{ .Site.Params.Subscription.successMessage }}
    </div>
    <div class="subscription__failure-msg">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      {{ .Site.Params.Subscription.failureMessage }}
    </div>
  </section>
</div>
{{ end }}

